.hidden-menu {
  display: block;
  position: fixed;
  list-style:none;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  width: 200px;
  background-color: #eee;
  height: 100%;
  top: 0;
  left: -200px;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.hidden-menu:hover {
  left:0
}

.hidden-menu-ticker {
  display: none;
}

.btn-menu {
  color: #fff;
  background-color: #0058B9;
  padding: 7px;
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 1;
  width: 25px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}

.hidden-menu-ticker:hover ~ .hidden-menu {
  left: 0;
}

.hidden-menu:hover ~ .btn-menu {
  left: 160px;
  display:none;
}

.hidden-menu:hover ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 8px;

}
.hidden-menu:hover ~ .btn-menu span.second {
  opacity: 0;
}
.hidden-menu:hover ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -8px;
}

/* .hidden-menu-ticker:checked ~ .btn-menu {
  left: 160px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 8px;

}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -8px;
} */
